<p-panel>
  <p-header>
    <div class="ui-helper-clearfix">
      <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">
        Área do administrador
      </span>

      
      
      <button pButton style="float:right" label="Drone alugados" icon="fa-eye" (click)="showAlugaDrones()"></button>
      <button pButton style="float:right" label="Drones" icon="fa-eye" (click)="showDrones()"></button>
      <button pButton style="float:right" label="Usuários" icon="fa-eye" (click)="showUsers()"></button>
    </div>
  </p-header>

  <app-show-users *ngIf="show_users" [users]="users"></app-show-users>
  <app-show-drones *ngIf="show_drones" [drones]="drones"></app-show-drones>
  <app-show-aluga-drone *ngIf="show_alugaDrones" [alugaDrones]="alugaDrones"></app-show-aluga-drone>

  <p-footer>
    <button *ngIf="show_drones" pButton type="button" icon="fa-plus" label="Novo Drone" (click)="dialogDrone()">
    </button>
    <button *ngIf="show_users" pButton type="button" icon="fa-plus" label="Novo usuário" [routerLink]="['/cadastro']">
    </button>
    <!-- <button pButton type="button" icon="fa-list" label="View" class="ui-button-success"></button> -->
  </p-footer>
</p-panel>

<p-dialog header="Adicionar drone" [(visible)]="displayDrone" modal="modal" width="450" [responsive]="true" [contentStyle]="{'overflow':'visible'}">
  <form [formGroup]="formulario" (ngSubmit)="addDrone()">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12">
        <div class="ui-g-3">
          <label for="name">Nome *:</label>
        </div>

        <div class="ui-g-9">
          <input pInputText formControlName="name" />
        </div>

        <div class="ui-g-offset-3 ui-g-9">
          <app-error-component [showError]="checkFieldValidation('name')" errorMsg="Preencha com algum nome">
          </app-error-component>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-3">
          <label for="description">Descrição *:</label>
        </div>

        <div class="ui-g-9">
          <textarea pInputTextarea rows="3" cols="26" autoResize="autoResize" formControlName="description"></textarea>
        </div>

        <div class="ui-g-offset-3 ui-g-9">
          <app-error-component [showError]="checkFieldValidation('description')" errorMsg="Preencha com alguma descrição">
          </app-error-component>
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" pButton icon="fa-close" (click)="cancelar()" label="Cancelar"></button>
        <button type="submit" pButton icon="fa-check" label="Adicionar"></button>
      </div>
    </p-footer>
  </form>
</p-dialog>