<p-panel>
  <p-header>
    <div class="ui-helper-clearfix">
      <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Meus eventos</span>

      <button pButton style="float:right" label="Usuários" icon="fa-plus" (click)="dialogEvento()"></button>
    </div>
  </p-header>

  <h1>Todos os eventos</h1>

  <p-footer>
    <button pButton type="button" icon="fa-plus" label="New" class="ui-button-info"></button>
    <button pButton type="button" icon="fa-list" label="View" class="ui-button-success"></button>
  </p-footer>
</p-panel>